/* styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

#video-container {
    position: relative;
    display: inline-block;
}

#video, #canvas {
    position: absolute;
    top: 0;
    left: 0;
}
